Django
psycopg[binary]
ollama
django-allauth
django-tailwind
django-htmx
django-crispy-forms
crispy-tailwind
python-dotenv
whitenoise
gunicorn
stripe
dj-database-url
ruff
djangorestframework
django-drf-mcp
django-auditlog